/******************

Common

******************/

body{
    font-family:"monospace", "sans-serif", "bold"
}

.font-primary{
    color:orange
}

.title-icon{
    font-size: 30px;
    font-weight: bold;
}

/*************

About

*************/

#about {}